@import url(https://fonts.googleapis.com/css?family=DM+Serif+Display:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-linkedin:before {
  content: "\e901";
}

._icon-twiter:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #161616;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  width: 2.6875rem;
  min-width: 0;
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: none;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  position: relative;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value::after {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 1.5625rem;
  width: 0.8125rem;
  height: 0.8125rem;
  background: url("../img/arrow-down-77.svg") 0 0 no-repeat;
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0px 10px 0px;
}

.select._select-open.__value::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  opacity: 0;
  -webkit-transition: opacity 1s ease 0s, -webkit-transform 1s ease 0s;
  transition: opacity 1s ease 0s, -webkit-transform 1s ease 0s;
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  transition: opacity 1s ease 0s, transform 1s ease 0s, -webkit-transform 1s ease 0s;
  -webkit-transform: translate(0px, 15%);
      -ms-transform: translate(0px, 15%);
          transform: translate(0px, 15%);
  font-family: "DM Serif Display";
  letter-spacing: 0.0125rem;
}

.title span {
  color: #d3a265;
}

.title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.button {
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 0.0625rem solid #d3a265;
  padding: 0.3125rem 2.125rem 0.3125rem 2.125rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
  min-height: 101px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__tel {
  position: relative;
  z-index: 2;
  font-weight: 500;
}

.menu__item {
  text-align: right;
}

.menu__link {
  font-weight: 500;
  color: #352c2c;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #f4f4f4;
}

.footer__main {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.main-footer__info {
  max-width: 18.75rem;
}

.main-footer__logo {
  display: inline-block;
}

.main-footer__text {
  line-height: 170%;
}

.nav-footer {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-footer__title {
  font-weight: 600;
  text-transform: uppercase;
}

.nav-footer__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.nav-footer__item {
  font-size: 0.875rem;
}

.nav-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.social-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  height: 1.25rem;
  color: #d3a265;
}

.contacts-footer {
  -ms-grid-column-align: end;
      justify-self: end;
}

.contacts-footer__title-footer {
  font-weight: 600;
  text-transform: uppercase;
}

.contacts-footer__title-footer:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contacts-footer__title {
  font-weight: 500;
  line-height: 150%;
  color: #8d8d8d;
}

.contacts-footer__label {
  line-height: 150%;
  font-size: 0.875rem;
}

.main-section__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.main-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__title {
  letter-spacing: 0.125rem;
  line-height: 120%;
}

.main-section__text {
  opacity: 0;
  -webkit-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  line-height: 170%;
  /* 27.2px */
  max-width: 23.4375rem;
}

.main-section__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.main-section__image img {
  max-width: 100%;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 7.375rem;
}

.about__text {
  line-height: 170%;
  /* 27.2px */
}

.about__text p:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
}

.item-service {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
}

.item-service__icon {
  width: 5.625rem;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 2.625rem;
}

.item-service__title {
  text-transform: uppercase;
  font-weight: 600;
}

.item-service__title:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.item-service__text {
  line-height: 170%;
  color: #8d8d8d;
}

.portfolio {
  background: #f4f4f4;
}

.portfolio__title {
  text-align: center;
}

.tabs-portfolio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.75rem;
}

.tabs-portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.tabs-portfolio__title {
  text-transform: uppercase;
  position: relative;
}

.tabs-portfolio__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  background-color: #161616;
}

.tabs-portfolio__link {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

._tab-active {
  color: #d3a265;
}

._tab-active::after {
  background-color: #d3a265;
}

.item-tabs__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
}

.item-tabs__item-ibg {
  cursor: pointer;
  border-radius: 0.625rem;
  overflow: hidden;
  padding-bottom: 118.5185185185%;
}

.item-tabs__item-ibg img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.pricing__title {
  text-align: center;
}

.items-pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
}

.items-pricing__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto/1fr;
  grid-template-rows: auto/1fr;
  -ms-grid-row-align: start;
      align-self: start;
  padding: 2rem 3.9375rem;
  border-radius: 0.625rem;
  border: 0.125rem solid #d3a265;
  background-color: #fdfbf8;
  justify-items: center;
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.items-pricing__title {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
}

.items-pricing__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.items-pricing__label {
  font-family: "DM Serif Display";
}

.items-pricing__label:not(:last-child) {
  margin-bottom: 3.375rem;
}

.items-pricing__price {
  font-size: 2.75rem;
}

.items-pricing__disc {
  font-size: 1.125rem;
}

.items-pricing__text {
  position: relative;
  font-weight: 500;
  line-height: 180%;
  font-size: 0.9375rem;
}

.items-pricing__text:not(:last-child) {
  margin-bottom: 3.375rem;
}

.items-pricing__text::before {
  content: "";
  position: absolute;
  top: -1.6875rem;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: #d3a265;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.items-pricing__button {
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.testimonials {
  background: #f4f4f4;
}

.testimonials__title {
  text-align: center;
}

.testimonials__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35.625rem, 1fr));
  margin-bottom: 2.625rem;
}

.testimonials__slide {
  background-color: #fff;
  border-radius: 0.625rem;
}

.item-testimonials {
  padding: 2.25rem 0.3125rem 2.25rem 5.6875rem;
}

.item-testimonials__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.item-testimonials__header:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-testimonials__avatar-ibg {
  border-radius: 50%;
  overflow: hidden;
  height: 10.75rem;
  width: 10.75rem;
}

.item-testimonials__title {
  padding-top: 1.9375rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.item-testimonials__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.item-testimonials__profession {
  color: #8d8d8d;
}

.item-testimonials__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  color: #d3a265;
}

.item-testimonials__text {
  line-height: 170%;
}

.testimonials-dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875rem;
          flex: 0 0 1.6875rem;
  height: 1.6875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.125rem 0rem;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 0.75rem;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: #8d8d8d;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.0625rem solid #d3a265;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.swiper-pagination-bullet-active::after {
  background-color: #d3a265;
}

.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.question__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.question__title {
  max-width: 16rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.question__button {
  height: 3rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.3125rem;
  }

  .main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-section__body {
    width: 50%;
  }

  .main-section__image {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.9583333333%;
            flex: 0 0 48.9583333333%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }

  .main-section__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 47.99875em) and (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .main-section__body {
    padding-bottom: 12.6875rem;
  }

  .main-section__image {
    height: 46.875rem;
  }
}

@media (min-width: 75em) {
  .title {
    font-size: 2.5rem;
  }

  .header__logo {
    padding-right: 4.25rem;
  }

  .header__actions {
    gap: 2.8125rem;
  }

  .header__tel {
    font-size: 1rem;
  }

  .footer__container {
    padding-top: 6.25rem;
  }

  .footer__container {
    padding-bottom: 6.25rem;
  }

  .main-footer__logo:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .main-footer__text:not(:last-child) {
    margin-bottom: 6.0625rem;
  }

  .contacts-footer__item:not(:last-child) {
    margin-bottom: 3rem;
  }

  .contacts-footer__title:not(:last-child) {
    margin-bottom: 0.875rem;
  }

  .main-section__body {
    padding-top: 12.6875rem;
  }

  .main-section__title {
    font-size: 4.125rem;
  }

  .main-section__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .main-section__text:not(:last-child) {
    margin-bottom: 3.375rem;
  }

  .about__container {
    padding-top: 4.4375rem;
  }

  .about__container {
    padding-bottom: 4.4375rem;
  }

  .about__container {
    -webkit-column-gap: 23.875rem;
       -moz-column-gap: 23.875rem;
            column-gap: 23.875rem;
  }

  .services__container {
    padding-top: 5rem;
  }

  .services__container {
    padding-bottom: 5rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 5.25rem;
  }

  .services__items {
    gap: 1.875rem;
  }

  .services__items:not(:last-child) {
    margin-bottom: 5.25rem;
  }

  .portfolio__container {
    padding-top: 4.75rem;
  }

  .portfolio__container {
    padding-bottom: 4.75rem;
  }

  .portfolio__title:not(:last-child) {
    margin-bottom: 5.3125rem;
  }

  .tabs-portfolio__navigation {
    -webkit-column-gap: 3.6875rem;
       -moz-column-gap: 3.6875rem;
            column-gap: 3.6875rem;
  }

  .pricing__container {
    padding-top: 6.375rem;
  }

  .pricing__container {
    padding-bottom: 6.375rem;
  }

  .pricing__container {
    padding-right: 6.25rem;
  }

  .pricing__container {
    padding-left: 6.25rem;
  }

  .pricing__title:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .items-pricing {
    gap: 5.125rem;
  }

  .testimonials__container {
    padding-top: 3.75rem;
  }

  .testimonials__container {
    padding-bottom: 3.75rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 5.4375rem;
  }

  .item-testimonials__profession:not(:last-child) {
    margin-bottom: 2.375rem;
  }

  .question__container {
    padding-top: 4.5625rem;
  }

  .question__container {
    padding-bottom: 4.5625rem;
  }

  .question__container {
    padding-right: 12.5rem;
  }

  .question__container {
    padding-left: 12.5rem;
  }
}

@media (max-width: 849px) and (max-width: 20em) {
  .testimonials__container {
    padding-right: 1.875rem;
  }

  .testimonials__container {
    padding-left: 1.875rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .header__logo {
    padding-right: 0.9375rem;
  }

  .header__actions {
    gap: 0.9375rem;
  }

  .header__tel {
    font-size: 0.75rem;
  }

  .footer__container {
    padding-top: 1.875rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .main-footer__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-footer__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .contacts-footer__item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .contacts-footer__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .main-section__body {
    padding-top: 6.25rem;
  }

  .main-section__title {
    font-size: 2.8125rem;
  }

  .main-section__title:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .main-section__text:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .about__container {
    padding-top: 3.125rem;
  }

  .about__container {
    padding-bottom: 3.125rem;
  }

  .about__container {
    -webkit-column-gap: 0.0000000625rem;
       -moz-column-gap: 0.0000000625rem;
            column-gap: 0.0000000625rem;
  }

  .services__container {
    padding-top: 0.0000000625rem;
  }

  .services__container {
    padding-bottom: 3.125rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .services__items {
    gap: 1.25rem;
  }

  .services__items:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .portfolio__container {
    padding-top: 3.125rem;
  }

  .portfolio__container {
    padding-bottom: 3.125rem;
  }

  .portfolio__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .tabs-portfolio__navigation {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .pricing__container {
    padding-top: 3.125rem;
  }

  .pricing__container {
    padding-bottom: 3.125rem;
  }

  .pricing__container {
    padding-right: 0.9375rem;
  }

  .pricing__container {
    padding-left: 0.9375rem;
  }

  .pricing__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .items-pricing {
    gap: 1.25rem;
  }

  .testimonials__container {
    padding-top: 3.125rem;
  }

  .testimonials__container {
    padding-bottom: 3.125rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .item-testimonials__profession:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .question__container {
    padding-top: 3.125rem;
  }

  .question__container {
    padding-bottom: 3.125rem;
  }

  .question__container {
    padding-right: 0.9375rem;
  }

  .question__container {
    padding-left: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .item-testimonials {
    padding-left: 1.25rem;
  }

  .item-testimonials__avatar-ibg {
    height: 6.25rem;
    width: 6.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 60px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #8d8d8d;
    padding: 5.625rem 0.9375rem 0rem 0.9375rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 3.75rem;
    background-color: #8d8d8d;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .menu__link {
    color: #d3a265;
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__main {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .main-footer__info {
    display: -ms-grid;
    display: grid;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    max-width: none;
  }

  .nav-footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .contacts-footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .main-section__button {
    margin-bottom: 2rem;
  }

  .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
  }

  .about__title {
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-testimonials {
    padding: 0.9375rem;
  }

  .item-testimonials__title {
    padding-top: 0;
  }

  .question__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .button {
    width: 100%;
  }

  .header__tel {
    display: none;
  }

  .footer__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .nav-footer {
    display: none;
  }

  .item-testimonials__avatar-ibg {
    height: 4.75rem;
    width: 4.75rem;
  }

  .question__button {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .title {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.2670454545rem  +  6.0227272727vw , 4.25rem )) {
    .header__logo {
      padding-right: clamp( 0.9375rem , -0.2670454545rem  +  6.0227272727vw , 4.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.2670454545rem  +  6.0227272727vw , 4.25rem )) {
    .header__logo {
      padding-right: calc(0.9375rem + 3.3125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem )) {
    .header__actions {
      gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem )) {
    .header__actions {
      gap: calc(0.9375rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .header__tel {
      font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .header__tel {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .footer__container {
      padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .footer__container {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .footer__container {
      padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .footer__container {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem )) {
    .main-footer__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem )) {
    .main-footer__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.2045454545rem  +  6.4772727273vw , 6.0625rem )) {
    .main-footer__text:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.2045454545rem  +  6.4772727273vw , 6.0625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.2045454545rem  +  6.4772727273vw , 6.0625rem )) {
    .main-footer__text:not(:last-child) {
      margin-bottom: calc(2.5rem + 3.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem )) {
    .contacts-footer__item:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem )) {
    .contacts-footer__item:not(:last-child) {
      margin-bottom: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.5340909091rem  +  0.4545454545vw , 0.875rem )) {
    .contacts-footer__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.5340909091rem  +  0.4545454545vw , 0.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5340909091rem  +  0.4545454545vw , 0.875rem )) {
    .contacts-footer__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.9090909091rem  +  11.7045454545vw , 12.6875rem )) {
    .main-section__body {
      padding-top: clamp( 6.25rem , 3.9090909091rem  +  11.7045454545vw , 12.6875rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.9090909091rem  +  11.7045454545vw , 12.6875rem )) {
    .main-section__body {
      padding-top: calc(6.25rem + 6.4375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.8125rem , 2.3352272727rem  +  2.3863636364vw , 4.125rem )) {
    .main-section__title {
      font-size: clamp( 2.8125rem , 2.3352272727rem  +  2.3863636364vw , 4.125rem );
    }
}

@supports not (font-size: clamp( 2.8125rem , 2.3352272727rem  +  2.3863636364vw , 4.125rem )) {
    .main-section__title {
      font-size: calc(2.8125rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2rem , 2.7670454545rem  +  -1.0227272727vw , 2.5625rem )) {
    .main-section__title:not(:last-child) {
      margin-bottom: clamp( 2rem , 2.7670454545rem  +  -1.0227272727vw , 2.5625rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 2.7670454545rem  +  -1.0227272727vw , 2.5625rem )) {
    .main-section__title:not(:last-child) {
      margin-bottom: calc(2.5625rem + -0.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5625rem , 2.2670454545rem  +  1.4772727273vw , 3.375rem )) {
    .main-section__text:not(:last-child) {
      margin-bottom: clamp( 2.5625rem , 2.2670454545rem  +  1.4772727273vw , 3.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5625rem , 2.2670454545rem  +  1.4772727273vw , 3.375rem )) {
    .main-section__text:not(:last-child) {
      margin-bottom: calc(2.5625rem + 0.8125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.6477272727rem  +  2.3863636364vw , 4.4375rem )) {
    .about__container {
      padding-top: clamp( 3.125rem , 2.6477272727rem  +  2.3863636364vw , 4.4375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.6477272727rem  +  2.3863636364vw , 4.4375rem )) {
    .about__container {
      padding-top: calc(3.125rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.6477272727rem  +  2.3863636364vw , 4.4375rem )) {
    .about__container {
      padding-bottom: clamp( 3.125rem , 2.6477272727rem  +  2.3863636364vw , 4.4375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.6477272727rem  +  2.3863636364vw , 4.4375rem )) {
    .about__container {
      padding-bottom: calc(3.125rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem )) or (column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem ))) {
    .about__container {
      -webkit-column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem );
         -moz-column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem );
              column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem )) or (column-gap: clamp( 0.0000000625rem , -8.6818180966rem  +  43.4090907955vw , 23.875rem ))) {
    .about__container {
      -webkit-column-gap: calc(0.0000000625rem + 23.8749999375 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.0000000625rem + 23.8749999375 * (100vw - 20rem) / 55);
              column-gap: calc(0.0000000625rem + 23.8749999375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.0000000625rem , -1.818181733rem  +  9.0909089773vw , 5rem )) {
    .services__container {
      padding-top: clamp( 0.0000000625rem , -1.818181733rem  +  9.0909089773vw , 5rem );
    }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.818181733rem  +  9.0909089773vw , 5rem )) {
    .services__container {
      padding-top: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
    .services__container {
      padding-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.4431818182rem  +  3.4090909091vw , 5rem )) {
    .services__container {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.6477272727rem  +  6.1363636364vw , 5.25rem )) {
    .services__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.6477272727rem  +  6.1363636364vw , 5.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.6477272727rem  +  6.1363636364vw , 5.25rem )) {
    .services__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.375 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .services__items {
      gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .services__items {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.6477272727rem  +  6.1363636364vw , 5.25rem )) {
    .services__items:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.6477272727rem  +  6.1363636364vw , 5.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.6477272727rem  +  6.1363636364vw , 5.25rem )) {
    .services__items:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.5340909091rem  +  2.9545454545vw , 4.75rem )) {
    .portfolio__container {
      padding-top: clamp( 3.125rem , 2.5340909091rem  +  2.9545454545vw , 4.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.5340909091rem  +  2.9545454545vw , 4.75rem )) {
    .portfolio__container {
      padding-top: calc(3.125rem + 1.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5340909091rem  +  2.9545454545vw , 4.75rem )) {
    .portfolio__container {
      padding-bottom: clamp( 3.125rem , 2.5340909091rem  +  2.9545454545vw , 4.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5340909091rem  +  2.9545454545vw , 4.75rem )) {
    .portfolio__container {
      padding-bottom: calc(3.125rem + 1.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.625rem  +  6.25vw , 5.3125rem )) {
    .portfolio__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.625rem  +  6.25vw , 5.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.625rem  +  6.25vw , 5.3125rem )) {
    .portfolio__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.4375 * (100vw - 20rem) / 55);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem )) or (column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem ))) {
    .tabs-portfolio__navigation {
      -webkit-column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem );
         -moz-column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem );
              column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem )) or (column-gap: clamp( 1.25rem , 0.3636363636rem  +  4.4318181818vw , 3.6875rem ))) {
    .tabs-portfolio__navigation {
      -webkit-column-gap: calc(1.25rem + 2.4375 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 2.4375 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 2.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.9431818182rem  +  5.9090909091vw , 6.375rem )) {
    .pricing__container {
      padding-top: clamp( 3.125rem , 1.9431818182rem  +  5.9090909091vw , 6.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.9431818182rem  +  5.9090909091vw , 6.375rem )) {
    .pricing__container {
      padding-top: calc(3.125rem + 3.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.9431818182rem  +  5.9090909091vw , 6.375rem )) {
    .pricing__container {
      padding-bottom: clamp( 3.125rem , 1.9431818182rem  +  5.9090909091vw , 6.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.9431818182rem  +  5.9090909091vw , 6.375rem )) {
    .pricing__container {
      padding-bottom: calc(3.125rem + 3.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.9943181818rem  +  9.6590909091vw , 6.25rem )) {
    .pricing__container {
      padding-right: clamp( 0.9375rem , -0.9943181818rem  +  9.6590909091vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.9943181818rem  +  9.6590909091vw , 6.25rem )) {
    .pricing__container {
      padding-right: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.9375rem , -0.9943181818rem  +  9.6590909091vw , 6.25rem )) {
    .pricing__container {
      padding-left: clamp( 0.9375rem , -0.9943181818rem  +  9.6590909091vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.9943181818rem  +  9.6590909091vw , 6.25rem )) {
    .pricing__container {
      padding-left: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .pricing__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .pricing__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.25rem , -0.1590909091rem  +  7.0454545455vw , 5.125rem )) {
    .items-pricing {
      gap: clamp( 1.25rem , -0.1590909091rem  +  7.0454545455vw , 5.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.1590909091rem  +  7.0454545455vw , 5.125rem )) {
    .items-pricing {
      gap: calc(1.25rem + 3.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .testimonials__container {
      padding-top: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .testimonials__container {
      padding-top: calc(3.125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .testimonials__container {
      padding-bottom: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .testimonials__container {
      padding-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.5795454545rem  +  6.4772727273vw , 5.4375rem )) {
    .testimonials__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.5795454545rem  +  6.4772727273vw , 5.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.5795454545rem  +  6.4772727273vw , 5.4375rem )) {
    .testimonials__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.5625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8409090909rem  +  2.0454545455vw , 2.375rem )) {
    .item-testimonials__profession:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8409090909rem  +  2.0454545455vw , 2.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8409090909rem  +  2.0454545455vw , 2.375rem )) {
    .item-testimonials__profession:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.6022727273rem  +  2.6136363636vw , 4.5625rem )) {
    .question__container {
      padding-top: clamp( 3.125rem , 2.6022727273rem  +  2.6136363636vw , 4.5625rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.6022727273rem  +  2.6136363636vw , 4.5625rem )) {
    .question__container {
      padding-top: calc(3.125rem + 1.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.6022727273rem  +  2.6136363636vw , 4.5625rem )) {
    .question__container {
      padding-bottom: clamp( 3.125rem , 2.6022727273rem  +  2.6136363636vw , 4.5625rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.6022727273rem  +  2.6136363636vw , 4.5625rem )) {
    .question__container {
      padding-bottom: calc(3.125rem + 1.4375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.9375rem , -3.2670454545rem  +  21.0227272727vw , 12.5rem )) {
    .question__container {
      padding-right: clamp( 0.9375rem , -3.2670454545rem  +  21.0227272727vw , 12.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -3.2670454545rem  +  21.0227272727vw , 12.5rem )) {
    .question__container {
      padding-right: calc(0.9375rem + 11.5625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.9375rem , -3.2670454545rem  +  21.0227272727vw , 12.5rem )) {
    .question__container {
      padding-left: clamp( 0.9375rem , -3.2670454545rem  +  21.0227272727vw , 12.5rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -3.2670454545rem  +  21.0227272727vw , 12.5rem )) {
    .question__container {
      padding-left: calc(0.9375rem + 11.5625 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem )) or (column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem );
         -moz-column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem );
              column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem )) or (column-gap: clamp( 0.9375rem , 0.1875rem  +  3.75vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 55);
              column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -4.6136362784rem  +  23.0681817045vw , 12.6875rem )) {
    .main-section__body {
      padding-bottom: clamp( 0.0000000625rem , -4.6136362784rem  +  23.0681817045vw , 12.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -4.6136362784rem  +  23.0681817045vw , 12.6875rem )) {
    .main-section__body {
      padding-bottom: calc(0.0000000625rem + 12.6874999375 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 31.25rem , 25.5681818182rem  +  28.4090909091vw , 46.875rem )) {
    .main-section__image {
      height: clamp( 31.25rem , 25.5681818182rem  +  28.4090909091vw , 46.875rem );
    }
}

@supports not (height: clamp( 31.25rem , 25.5681818182rem  +  28.4090909091vw , 46.875rem )) {
    .main-section__image {
      height: calc(31.25rem + 15.625 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main-section__body {
    padding-bottom: 0.0000000625rem;
  }

  .main-section__image {
    height: 31.25rem;
  }
}

@media (max-width: 849px) and (min-width: 75em) {
  .testimonials__container {
    padding-right: 6.25rem;
  }

  .testimonials__container {
    padding-left: 6.25rem;
  }
}

@media (max-width: 849px) and (min-width: 20em) and (max-width: 75em) {
@supports (padding-right: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .testimonials__container {
      padding-right: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .testimonials__container {
      padding-right: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .testimonials__container {
      padding-left: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .testimonials__container {
      padding-left: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .button:hover {
    background-color: #d3a265;
    color: #fff;
  }

  .menu__link:hover {
    color: #d3a265;
  }

  .tabs-portfolio__title:hover::after {
    width: 100%;
  }

  .tabs-portfolio__link:hover {
    color: #d3a265;
  }

  .item-tabs__item-ibg img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .items-pricing__item:hover {
    background-color: #d3a265;
    color: #fff;
  }

  .items-pricing__text:hover::before {
    background-color: #fff;
  }

  .items-pricing__button:hover {
    background-color: #fff;
    color: #161616;
  }
}